{% extends 'base.html' %}

{% block content %}
    {% include 'components/_sidebar.html' %}

    <div class="border-b-2 border-b-gray-600 pb-8">
        <h2 class="text-4xl font-semibold text-gray-800">Create homework for: {{ lesson.theme }}</h2>
    </div>

    <br><br>
    <a class="py-1 px-2 border border-gray-300 rounded" href="{{ request.META.HTTP_REFERER }}">Back</a>
    <br><br>

    <form action="" class="flex flex-col gap-2 w-1/2">
        <input class="border border-gray-300 outline-none py-1 px-2 rounded" type="text" placeholder="title">
        <textarea class="border border-gray-300 outline-none py-1 px-2 rounded" name="" id="" cols="30" rows="10" placeholder="Description"></textarea>
        <input class="border border-gray-300 outline-none py-1 px-2 rounded" type="datetime-local">
        <button class="border border-gray-300 py-1 px-2 rounded">Assign</button>
    </form>

{% endblock %}