{% extends 'base.html' %}

{% block content %}
    {% include 'components/_sidebar.html' %}

    <div class="flex flex-col">
        <div class="border-b-2 border-b-gray-600 pb-8">
            <h2 class="text-4xl font-semibold text-gray-800">Lesson: {{ lesson.theme }}</h2>
        </div>

        <p>Theme: {{ lesson.theme }}</p>
        <p>Lesson date: {{ lesson.lesson_date }}</p>

        <br><br>
        <a href="/create-homework/{{ lesson.id }}/" class="bg-gray-300 py-1 px-2 rounded max-w-max">Add homework</a>
        <br><br>

        <div class="prose">{{ lesson.description|safe }}</div>
    </div>

{% endblock content %}
