<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button>Reset my password</button>
        </form>
    {% else %}
        <h2>
            Password reset link has been already used, try to request a new reset link by navigating 
            <a href="/password-reset/">here</a>
        </h2>
    {% endif %}
</body>
</html>