<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
        type="button"
        class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>

<aside id="default-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
       aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 flex flex-col gap-4">
        <div class="p-2 pb-4 border-b border-b-gray-300">
            <div class="flex flex-col">
                <span class="bg-gray-700 text-gray-300 text-xs max-w-max rounded p-1">{{ request.user.role|upper }}</span>
                <span class="text-white font-semibold text-start">Hello, {{ request.user.last_name.0 }}. {{ request.user.first_name }} 👋</span>
            </div>
        </div>
        <ul class="font-medium h-full flex flex-col justify-between">
            {% if request.user.role == 'teacher' %}
                <li>
                    <a href="#"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-icons">home</span>
                        <span class="flex-1 ms-3 whitespace-nowrap">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/classes/"
                       class="{% if active_route == 'classes' %} bg-gray-700 {% endif %} flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-icons">co_present</span>
                        <span class="flex-1 ms-3 whitespace-nowrap">All classes</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-icons">checklist</span>
                        <span class="flex-1 ms-3 whitespace-nowrap">All tests</span>
                    </a>
                </li>
            {% elif request.user.role == 'student' %}
                <li>
                    <a href="#"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-icons">home</span>
                        <span class="flex-1 ms-3 whitespace-nowrap">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-icons">co_present</span>
                        <span class="flex-1 ms-3 whitespace-nowrap">My classes</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-icons">checklist</span>
                        <span class="flex-1 ms-3 whitespace-nowrap">My tests</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="/profile/"
                   class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="material-icons">person</span>
                    <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
                </a>
            </li>
            <li class="mt-auto">
                <form method="post" action="/logout/" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                      {% csrf_token %}
                    <div class="flex flex-row items-center gap-3">
                        <span class="material-icons">logout</span>
                        <button type="submit" class="flex-1 ms-3 whitespace-nowrap">Logout</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</aside>
